input{
    width:100%;
}
.col-10{
    position: absolute;
    top: 35px;
    left: 40px;
}
.form-group{
    margin-bottom: 0px !important;
}
.staff-container{
    overflow:auto !important;
}
.staff-container span{
    word-break:break-all !important;
}
.col-12{
    padding:0rem 1.5rem 0em 1.5rem !important;
}
.details-content{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.button-cls{
    margin-bottom:1rem !important;
}

.label{
    width: 50%;
}